.form {
  padding: 20px;
}

.form div {
  margin-bottom: 12px;
}

.form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  text-align: start;
}

.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

.form button {
  padding: 12px 22px;
  border: none;
  border-radius: 100px;
  background-color: #230052;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  background-color: #6231a3;
}
