.home-container-new {
  padding: 2rem;
}

.navbar-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-section-new {
  display: flex;
  align-items: center;
}

.profile-incomplete-new {
  margin-right: 1rem;
  color: red;
}

.complete-btn-new {
  background-color: #337ed3;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.profile-btn-new {
  background-color: #36903b;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.complete-btn-new:hover {
  background-color: #0056b3;
}
.profile-btn-new:hover {
  background-color: #2a6c2e;
}

.divider-new {
  margin: 1rem 0;
}

.profile-form-container-new {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-header-new {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.profile-form-new {
  display: flex;
  flex-direction: column;
}

.form-group-new {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-icon-new {
  margin-right: 0.5rem;
}

.form-group-new input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form-buttons-new {
  display: flex;
  justify-content: space-between;
}

.update-btn-new {
  background-color: green;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-btn-new:hover {
  background-color: darkgreen;
}

.cancel-btn-new {
  background-color: red;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-btn-new:hover {
  background-color: darkred;
}
