/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  color: #333;
}

.addnewpass {
  background-color: #0d6efd;
  color: white;
}
/* App Container */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Button Styles */
button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  opacity: 0.8;
}

button.addButton {
  background-color: #007bff;
  color: white;
}

button.addButton:hover {
  background-color: #0056b3;
}

button.editButton {
  background-color: #28a745;
  color: white;
}

button.editButton:hover {
  background-color: #218838;
}

button.deleteButton {
  background-color: #dc3545;
  color: white;
}

button.deleteButton:hover {
  background-color: #c82333;
}

/* Input Fields */
input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Password List Styles */
.passwordList {
  list-style: none;
  padding: 0;
}

.passwordList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.passwordList button {
  margin-left: 10px;
}

/* Modal Styles */
.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin-top: 250px;
}

.modalContent h2 {
  margin-top: 0;
}

.modalContent form {
  display: flex;
  flex-direction: column;
}

.modalContent form .modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modalContent form button {
  margin: 0;
}

button.updateButton {
  background-color: #28a745;
  color: white;
}

button.updateButton:hover {
  background-color: #218838;
}

button.cancelButton {
  background-color: #dc3545;
  color: white;
}

button.cancelButton:hover {
  background-color: #c82333;
}

/* Search Bar Styles */
.searchBar {
  position: absolute;
  top: 55px;
  right: 25%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.searchBar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
